<% provide(:title, 'All users') %>
<h4>診断結果一覧</h4>

<ul class="users">
 <ul style="list-style-type: none ">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>&nbsp;&nbsp;&nbsp;
      
      <%= link_to "削除", user, method: :delete, data: { confirm: "削除しますか?" } %>
    </li>
  <% end %>
 </ul>  
</ul>