<%provide(:title, 'Sing up')%>
<h1>ACCE/ACEの肥満度判定</h1>

<div style="text-align:center">
 <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      
      <%= f.label :名前 %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :パスワード %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "パスワード（確認）" %>
      <%= f.password_field :password_confirmation, class: 'form-control'  %>

      <%= f.label :身長（cm） %>
      <%= f.number_field :height, {:class => 'form-control', :min => "0"} %>

      <%= f.label :体重（kg） %>
      <%= f.number_field :weight, {:class => 'form-control', :min => "0"} %>
      
       <%= f.label "合併症（高血圧、高脂血症、腰痛）の有無" %><br>
       <label class="radio-inline">
        <%= f.radio_button :complications, 1, {:class => 'form-control'} %>なし 
       </label>
       <label class="radio-inline">
        <%= f.radio_button :complications, 2, {:class => 'form-control'} %>軽い合併症がある
       </label>
       <label class="radio-inline">
        <%= f.radio_button :complications, 3, {:class => 'form-control'} %>重い合併症がある
       </label>
      
      <%= f.submit "診断", class: "btn-success btn-lg" %>
    <% end %>
  </div>
</div>