<% provide(:title, @user.name) %>
<h4>診断結果</h4>

<div class="row">
  <aside class="col-md-4">
   
    <section>
     
       <h2>
        <%= @user.name %><br><br>
        
        <% bmi = @user.weight/(@user.height/100.0)**2 %>
        BMI <%= bmi.round(1) %><br><br>
        
        <% if bmi < 18.5 then%>
         低体重
        <% elsif bmi >= 18.5 && bmi < 25.0  then%>
         標準体重
        <% elsif bmi >= 25.0 && bmi < 29.9 && @user.complications==1 then%>
         過体重
        <% elsif bmi >= 30.0 && @user.complications==1 then%>
         肥満ステージ０
        <% elsif bmi >= 25.0 && @user.complications==2 then%>
         肥満ステージ１
        <% elsif bmi >= 25.0 && @user.complications==3 then%>
         肥満ステージ２
        <% else %>
         測定不可
        <% end %>
    　 </h2>
    　 
    　 <h3>
    　  1.低体重(BMIが18.5未満)<br>
    　  2.標準体重(BMIが18.5～25未満)<br>
    　  3.過体重(BMIが25～29.9で合併症がない)<br>
    　  4.肥満ステージ０(BMIが30以上で、合併症がない)<br>
    　  5.肥満ステージ１(BMIが25以上で、軽い合併症がある)<br>
    　  6.肥満ステージ２(BMIが25以上で、重い合併症がある)<br>
    　  5と6はBMIが低くても、より危険
    　 </h3>
    　 
    </section>
  </aside>
</div>