@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */

body {
  padding-top: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  padding-left:20px;
  font-weight: normal;
  color: $gray-light;
}

h3 {
  font-size: small;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color:#000000;
}

h4 {
  font-size: xx-large;
  letter-spacing: -2px;
  margin-bottom: 30px;
  padding-left:20px; 
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/*form*/

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

label.radio-inline {
  position: relative;
  text-align:center;
  width:130px;
  input[type=radio] {
        width: initial;
  }
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
